.ungu{
    color: blueviolet;
}
.merah{
    color: red;
}
.box{
    border: 1px solid rgba(0, 0, 0, 0.37);
    margin-left: 10px;
    margin-right: 10px;
    width: 24%;
    background-color: whitesmoke;
    box-shadow: gray;
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn{
    background-color: green;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
}
.btn-blue{
    color:white;
}